@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 7%;
    --foreground: 0 0% 100%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }

  /* width */
  ::-webkit-scrollbar {
    width: 6px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #ccc;
    border-radius: 5px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(124 58 237 / var(--tw-bg-opacity));
    border-radius: 24px;
  }

  /* To handle height for vertical scrollbar, you can control the thumb height */
  ::-webkit-scrollbar-thumb {
    max-height: 200px; /* Minimum height of the thumb handle */
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-[#121212] text-foreground font-['Inter'];
  }
}

.music-gradient {
  background: linear-gradient(to bottom right, #7c3aed, #4f46e5);
}

.hover-scale {
  @apply transition-transform duration-200 hover:scale-105;
}
